<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="header-app-title">
      <ion-icon name="cloudy-night" aria-hidden="true"></ion-icon>
      Slumber Score 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div id="main-elements">
      <h1 id="current-time">{{currentTime}}</h1>
      <div>
        <ion-button (click)="navLogSleep()">Log My Sleep</ion-button>
      </div>
      <div>
        <ion-button (click)="navLogSleepiness()">Log My Sleepiness</ion-button>
      </div>
    </div>
  
</ion-content>
