#header-app-title {
  text-align: center;
  font-family: 'Sora', Arial, Helvetica, sans-serif;
  font-weight: 600;
}

ion-content {
  --background: #272642;
}

#main-elements {
  text-align: center;
  font-family: 'Sora', Arial, Helvetica, sans-serif;  

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#main-elements h1 {
  color: #ffffff;
  font-size: 36pt;
}

#main-elements div ion-button {
  font-family: 'Sora', Arial, Helvetica, sans-serif;
  --background: #7d7dcb;
  max-width: 200px;
}

#gesture_text {
  font-family: 'Sora', Arial, Helvetica, sans-serif;
  color: #ffffff;
}

