<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="header-app-title">
      <ion-icon name="cloudy-night" aria-hidden="true"></ion-icon>
      Slumber Score 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div id="main-elements">
      <h1 id="current-time">{{currentTime}}</h1>

      <div>
        <app-handtracker (onPrediction)="prediction($any($event))"></app-handtracker>
  
        <div id="gesture_text">Gesture: {{gesture}}</div>
      </div>

      <div>
        <ion-button class="ion-text-wrap" (click)="navLogSleep()">Log My Sleep (Open Hand)</ion-button>
      </div>
      <div>
        <ion-button class="ion-text-wrap" (click)="navLogSleepiness()">Log My Sleepiness (Closed Hand)</ion-button>
      </div>
    </div>

</ion-content>
