<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title id="header-app-title">
      <ion-icon name="cloudy-night" aria-hidden="true"></ion-icon>
      Slumber Score 
    </ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-segment mode="ios" [(ngModel)]="dataValue" (ionChange)="changeSegment(dataValue)">
      <ion-segment-button value="sleep">
        <ion-label class="ion-text-wrap">Your Sleep</ion-label>
      </ion-segment-button>
      <ion-segment-button value="sleepiness">
        <ion-label class="ion-text-wrap">Your Sleepiness</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="showSleepData" id="sleep_logs">
    <ion-card *ngFor="let data of getSleepData">
      <ion-card-header>
        <ion-card-title>You slept for {{ getSleepSummaryString(data) }}.</ion-card-title>
        <ion-card-subtitle>{{ getTimeSlept(data) }}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>You started sleeping at {{ getLongSleepStart(data) }}, and you woke up at {{ getLongSleepEnd(data) }}.</ion-card-content>
    </ion-card>
  </div>
  
  <div *ngIf="showSleepinessData" id="sleepiness_logs">
    <ion-card *ngFor="let data of getSleepinessData">
      <ion-card-header>
        <ion-card-title>You logged a level {{ getSleepinessLevel(data) }}</ion-card-title>
        <ion-card-subtitle>{{ getTimeLogged(data) }}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>Based on the Stanford Sleepiness Scale, you felt a sleepiness of level {{ getSleepinessSummaryString(data) }}.</ion-card-content>
    </ion-card>
  </div>
</ion-content>
