#header-app-title {
    text-align: center;
    font-family: 'Sora', Arial, Helvetica, sans-serif;
    font-weight: 600;
}

ion-content {
  --background: #272642;
}

ion-card ion-card-header {
    font-family: 'Sora', Arial, Helvetica, sans-serif;
}

ion-card ion-card-content ion-list ion-item {
    font-family: 'Sora', Arial, Helvetica, sans-serif;
    font-weight: 300;
}

ion-card ion-card-content {
    font-family: 'Sora', Arial, Helvetica, sans-serif;
}