<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home" href="/tabs/home">
        <ion-icon name="home"></ion-icon>
        Home
      </ion-tab-button>
      <ion-tab-button tab="logs" href="/tabs/logs">
        <ion-icon name="file-tray-full"></ion-icon>
        Logs
      </ion-tab-button>
      <ion-tab-button tab="profile" href="/tabs/profile">
        <ion-icon name="person"></ion-icon>
        Profile
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
