ion-title {
    font-family: 'Sora', Arial, Helvetica, sans-serif;
}

ion-content {
    --background: #272642;
}

ion-card-header ion-card-title {
    font-family: 'Sora', Arial, Helvetica, sans-serif;
}

ion-card-content {
    font-family: 'Sora', Arial, Helvetica, sans-serif;
}

ion-card-content ion-item ion-label {
    font-family: 'Sora', Arial, Helvetica, sans-serif;
}

ion-card-content ion-item ion-note {
    font-family: 'Sora', Arial, Helvetica, sans-serif;
}

ion-card-content div {
    text-align: center;
}

ion-button{
    text-align: center;
    font-family: 'Sora', Arial, Helvetica, sans-serif;
    --background: #7d7dcb;
}

#new_sleep {
    text-align: center;
}